#header {
    display: flex;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid#ddd;
}

#header .inner {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

#header .gnb {
    margin: 0 0 0 auto;
}

#header .inner .gnb>ul {
    display: flex;
    gap: 30px;
}

#header .gnb>ul>li {
    position: relative;
    font-size: 20px;
    font-weight: 400;
}

#header .inner .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 16px;
    background: #666;
}